.main {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px 30px;
    h1 {
        text-align: center;
    }
    .dialog {
        min-width: 350px;
    }
    .setting {
        display: flex;
        justify-content: space-between;
        .block {
            position: relative;
            .el-color-picker {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
    .el-textarea {
        textarea {
            padding: 15px;
        }
    }
    .subbtn {
        margin: 20px auto;
        text-align: right;
    }
    .el-card {
        margin-top: 10px;
        .addtime {
            display: inline-block;
            margin-top: 10px;
            font-size: 14px;
            color: darkgray;
        }
        .reply {
            .delbtn {
                float: right;
                margin: 10px 0 0 10px;
                .el-icon-delete {
                    cursor: pointer;
                    &:hover {
                        color: black;
                    }
                }
            }
            .replybtn {
                cursor: pointer;
                float: right;
                margin: 15px 0 0 10px;
                display: inline-block;
            }
            .replycomon {
                margin-top: 10px;
                .btn {
                    margin-top: 10px;
                    text-align: right;
                    .el-button {
                        font-size: 12px;
                        padding: 10px 15px;
                    }
                }
            }
        }
    }
}

.el-tabs {
    max-width: 600px;
    margin: 20px auto 50px;
}

i {
    font-size: 14px;
    color: darkgray;
    &:hover {
        color: black;
    }
}